.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
  }
  
  .HomeLInk {
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }